@model ViewModels.UI.User.RequestResetPasswordUserView

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Password reset</title>
</head>
<body>

    <div>
        @using (@Html.BeginForm("ResetPassword", "User", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Email)
            <table>
                <tr>
                    <td>
                        @Html.DisplayName("New password")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.PasswordFor(model => model.NewPassword)
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        @Html.DisplayName("Confirm new password")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.PasswordFor(model => model.NewPasswordConfirmation)
                    </td>
                </tr>
            </table>
            <button class="authenticationButton" type="submit">Reset password</button>
        }
    </div>

</body>
</html>
